.cache/
Trash/
*.log
pkglist-*.txt
*.sqlite
*.sqlite-*
*.db
*.mdb
core.*

# Private/generated application state that should not be published.
.config/rofi/Google/
.config/rofi/Trash/
.config/rofi/zed/
.config/rofi/nvim/
.config/rofi/org.localsend.localsend_app/
.config/rofi/zathura/
.config/rofi/applications/
.config/rofi/desktop-directories/
.config/rofi/icons/
.config/htop/htop_history
